@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#html,
body {
  background-color: black;
  color: white;
  padding-inline: 30px;
}
#main{
    font-family: 'Lato', sans-serif;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gap {
  gap: 4em;
}

h4{
  font-weight: 400;
  text-transform: uppercase;
}
.nav-left img {
  height: 80px;
  width: 300px;
}

.btn {
  background-color: white;

  font-weight: 700px;
  color: rgb(0, 0, 0) !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
  text-align: center;
}

.nav-mid ul li{
    text-decoration: none;
}

#main h1{
   font-size: 120px;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   justify-content: center;

}
#main h1:nth-child(2){
  margin-top: 60px;
}

#main span{
  font-size: 30px;
  background-color: rgb(177, 59, 59);
  padding: 30px 50px;
  border-radius: 3rem;
  margin: 0 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#main>img{
  position: absolute;
  height: 250px;
  top: 23%;
  left: 10%;
  border-radius: 0.5rem;
  opacity: 80%;
}
#main>img:nth-child(6){
  position: absolute;
  height: 150px;
  top: 16%;
  left: 52%;
  z-index: -1;
  border-radius: 0.5rem;
  opacity: 70%;
}
#main>img:nth-child(7){
  position: absolute;
  height: 200px;
  top: 70%;
  left: 14%;
  z-index: -1;
  border-radius: 0.5rem;
  opacity: 70%;
}
#main>img:nth-child(8){
  position: absolute;
  height: 250px;
  top: 60%;
  left: 78%;
  z-index: -1;
  border-radius: 0.5rem;
  opacity: 90%;
}